[package]
name = "open_weather_map_api"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["lib"]

[dependencies]
chrono.workspace = true
reqwest.workspace = true
serde.workspace = true
serde_json.workspace = true
thiserror.workspace = true
tracing.workspace = true
